[submodule "themes/portio"]
	path = themes/portio
	url = https://github.com/StaticMania/portio-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:waseem-93/waseem-93.github.io.git
	branch = master
